@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto&family=Shippori+Antique&display=swap');

.nav_main {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 30px 10%;
}

.nav_options {
    list-style: none;
    order: 1;
}

.nav_options li {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 4px;
    background-color: gray;
    margin-right: 10px;

}

.nav_options li a {
    transition: all 0.2s ease-in-out;
}

.nav_options li a:hover {
    color: darkslategrey;
}

.button {
    padding: 5px 25px;
    background-color: gray;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease 0s;
}

.button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.logo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.logo_name {
    color: black;

}

.headerContainer {
    display: flex;
    flex-direction: column;
}

.hr {
    width: 90vw;
}

/*.nav_options li a:hover {*/
/*    color: darkblue;*/
/*}*/