
.footerContainer{
    display: flex;
    flex-direction:column ;
}
.footerData {
    display: flex;
}

.footerCardInfo {
    display: flex;
    flex-direction: column;
    transition: all 0.2s ease-in-out;
    list-style-type: none;
}
.footerCardInfo li{
    list-style-type: none;
}

.footerCardInfo a:hover {
    color: darkslategrey;
}

.hr {
    width: 90vw;
}